$default-background-color: #f2f2f2;
$primary-color: #2f4e87;
$highlight-color: #d83734;
$status-color: #67a925;
$accent-color: #e88f10;
$h2-color: #222222;
$h4-color: #444444;
$h6-color: #666666;
$h8-color: #888888;
$border-color: #dddddd;
$input-border-color: #cdcdcd;
$input-color: #222222;
$btn-bg-color: $primary-color;
$btn-color: #ffffff;
$more-color: #e99011;
$card-bg-color: #ffffff;
$card-default-color: #5e5e5e;
$card-caption-color: $primary-color;
